import os

#os.environ["SPARK_HOME"]="/home1/01131/tg804093/src/supercomputing2015-tutorial/02_hadoop_on_hpc/work/spark-1.4.1-bin-hadoop2.6"
os.environ["SPARK_HOME"]="/usr/local/Cellar/apache-spark/1.4.1/libexec"